<div>
  <h2 class="title">Formulario de login</h2>
</div>

<div class="container-form">

  <div>
    <h2 class="title">Login</h2>
  </div>

<form nz-form  [formGroup]="myForm" class="login-form" (ngSubmit)="submit()" >

  <div>
    <label for="correo">Email</label>
    <input
          nz-input
          nzSize="large"
          type="email"
          id="correo"
          placeholder="Email"
          formControlName="email"
          >
          <span class="error" *ngIf="fieldValidate('email')" >{{msgErrorEmail}}</span>
  </div>
  <div>
    <label for="password">Contraseña</label>
    <input
          nz-input
          nzSize="large"
          type="password"
          id="password"
          placeholder="Password"
          formControlName="password"
          >
          <div class="error" *ngIf="fieldValidate('password')" >
            <span *ngIf="myForm.controls?.['password']?.errors?.['required']">Campo obligatorio</span>
            <span *ngIf="myForm.controls?.['password']?.errors?.['minlength']">Minimo 8 caracteres</span>
          </div>
  </div>
  <div>
    <button type="submit" nz-button nzType="primary" >Registrarse</button>
    <div>
      <span>Si aun no tienes un cuenta da clic <a [routerLink]="['/login']">aqui</a></span>
    </div>
  </div>
 </form>
</div>
